/* /////////////////////////////////////g/////////////
[Layout]
////////////////////////////////////////////////// */

/* --------------------------------------------------
    0. Container
-------------------------------------------------- */
#wrapper {
    position: relative;
    z-index: 50;
    width: 1024px;
    margin: 60px auto 0;
    @extend %cf;
}

/* --------------------------------------------------
    1. Header
-------------------------------------------------- */

/* --------------------------------------------------
    2. Content
-------------------------------------------------- */


/* --------------------------------------------------
    3. Footer
-------------------------------------------------- */


